.prueba {
    height: 100vh;
    width: 100%;
}
.prueba h1 {
    margin: auto;
}

.content {
    padding-top: 30px;
    height: 75vh;
    overflow-y: auto;
}


.content::-webkit-scrollbar {
    width: 7px;
}

@media (max-width: 768px) {
    .content-contact {
        flex-direction: column;
    }
   
}

.navbarMenu {
    height: 100%;
    width: 370px;
    background-color:  #5500ff;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 999;
    transition: .5s;
}

.notActive  {
    right: -400px; 
}